Django==1.7.4
gunicorn==19.1.1
South==1.0.2
static==0.4
dj-database-url==0.3.0
dj-static==0.0.6
psycopg2==2.5.1
wsgiref==0.1.2
Pillow==2.7.0
pytz==2014.10
stripe==1.21.0
django-localflavor==1.1
django-widget-tweaks==1.3