{% extends "base.html" %}
<script>
{% block jqeury_block %}
    Stripe.setPublishableKey('{{ stripe_pub }}');

    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
    <!--/ Stripe Response Handler-->
    function stripeResponseHandler(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $("#card_errors_div").removeClass("hidden");
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        $("#card_errors_div").addClass("hidden");
        // response contains id and card, which contains additional card details
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };

    <!--/Shipping Address-->
    $("#addShippingAddress").click(function(e) {
        e.preventDefault();
        $("#shippingAddressForm").fadeToggle();
    });

    <!--/ If there are not addresses show-->
    {% if not current_addresses %}
        $("#shippingAddressForm").fadeToggle();
    {% endif %}

{% endblock %}
</script>
<style>
{% block styles %}
    @media(min-width: 1200px) {
        .total{
            position: fixed;
        }
    }
    @media (min-width: 1000px) {
        .total {
            position: fixed;
        }
    }
{% endblock styles %}
{#</style>#}
<!--/ Content Area -->
{% block content %}
    <div class="col-sm-3 pull-right">
        <div class="total">
            <h3>Current Total: ${{ order.get_final_amount|floatformat:"-2" }} </h3>
            <a href="#">Finalize Checkout</a>
        </div>
    </div>
        <div class="col-sm-6 pull-right" style="display: none;" id="shippingAddressForm">
            <h3>Add New Shipping Address</h3>
            <form method="POST" action='{% url "ajax_add_user_address" %}?next=checkout'>
                {% csrf_token %}
                {{ address_form.as_p}}
                <input type="submit" class="btn btn-default" value="Add Shipping Address"/>
            </form>
        </div>
    </div>
    <!--/ Shipping addresses -->
	<form method="POST" action="" id="payment-form">
		{% csrf_token %}
		{% if current_addresses %}
			<div class="col-sm-6">
				<h3>Shipping Addresses</h3>
				{% for a in current_addresses %}
                    {% if request.user.userdefaultaddress.shipping.id == a.id %}
                        <input type="radio" name="shipping_address" value="{{ a.id }}" checked="checked"/>
                        {{ a.get_address }} <br />
                    {% else %}
					    <input type="radio" name="shipping_address" value="{{ a.id }}"/> {{ a.get_address }} <br />
                    {% endif %}
				{% endfor %}
                <a href="{% url 'add_user_address' %}" id="addShippingAddress">Add New Address</a>
			</div>
		{% endif %}
		<!--/ Billing addresses -->
		<div class="row">
			{% if billing_addresses %}
				<div class="col-sm-6">
					<h3>Billing Addresses</h3>
					{% for a in billing_addresses %}
						{% if request.user.userdefaultaddress.billing.id == a.id %}
                        <input type="radio" name="billing_address" value="{{ a.id }}" checked="checked"/>
                        {{ a.get_address }} <br />
                    {% else %}
                            <p>NO Bill</p>
					    <input type="radio" name="billing_address" value="{{ a.id }}"/> {{ a.get_address }} <br />
                    {% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div><!--/row-->
		<!--/ Credit Card Info -->
		<div class="row">
            <div class="col-sm-6">
			  <h3>Credit Card Info</h3>
              <div class="alert alert-danger payment-errors hidden" role="alert" id="card_errors_div">
              </div>
              <div class="form-row">
                  <div class="row">
                    <div class="col-xs-3" style="padding-right: 0px;">
                      <b>Card Number</b>
                      <input class="form-control" type="text" size="20" data-stripe="number"/>
                    </div><!--/col-->
                    <div class="col-xs-2">
                      <b>CVC</b>
                      <input class="form-control" type="text" size="4" data-stripe="cvc" placeholder="123"/>
                    </div>
                  </div><!--/row-->
              </div>
              <br />
              <div class="form-row">
                    <label><span>Expiration (MM/YYYY)</span></label>
                    <div class="row">
                        <div class="col-xs-1" style="padding-right: 0px;">
                              <input class="form-control" type="text" size="2" data-stripe="exp-month" placeholder="02"/>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" type="text" size="4" data-stripe="exp-year" placeholder="2016"/>
                        </div>
                  </div><!--/row-->
              </div><!--/form-row-->
              <br/>
              <button class="btn btn-default btn-large" type="submit">Submit Payment</button>
            </div>
        </div> <!--/row-->
	</form><!--/payment-form-->
{% endblock content %}