{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Welcome to {% endblock head_title %}
{% block head_styles %}
{#    <style>#}
{#       #}
{#    </style>#}
{% endblock head_styles %}
{% block jqeury_block%}
{#    alert("Welcome");#}
{% endblock jqeury_block%}
{# Commnets go here! #}

{% block jumbotron2 %}
    <div class="container">
        <div class="jumbotron">
            <h1>Hello {{ username_is }}</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
        </div> <!-- /jumbotrom -->
    </div>
{% endblock jumbotron2 %}

{% block content %}
    <div class="row">
        {% for p in products %}
            <div class="col-sm-4">
                <div class="thumbnail">
                {% if  p.productimage_set.all %}
                {% for pi in p.productimage_set.all %}

                      {%  if pi.featured %}
                        <img src="{{ MEDIA_URL }}{{ pi.image }}" class="img-responsive" alt="Responsive image">
                      {% endif %}
                {% endfor %}
                {% else %}
                    <img class="img-responsive" src='{% static "img/placeholder.svg" %}'/>
                {% endif %}
                <div class="caption">
                    <a href="{% url 'single_product' p.slug %}">{{ p.title|title }}</a>
                    <p>{{ p.description|truncatewords:15 }}</p>
                    <p><a href="{% url 'single_product' p.slug %}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div><!-- /caption -->
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-4 -->
            {% cycle "" "" "</div><br /><hr/><div class='row'>" %}
        {% endfor %}
    </div><!-- /row -->
{% endblock content %}