<div class="modal fade" id="marketing-modal">
  <form method="POST" action='{% url "ajax_email_signup" %}' id="sendForm">
  {% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
          <p id="modalMessage"></p>
          <input id="id_email" type="email" class="form-control" maxLength="200" 
          name="email" placeholder="Your email">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-success" id="sendMarketingForm"/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->